<a href="https://colab.research.google.com/github/karthicsalem/data_science/blob/master/CSE18231_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1)Create a Time class and initialize it with hours and minutes.
a. Make a method addTime which should take two time object and add them.
E.g.- (2 hour and 50 min)+(1 hr and 20 min) is (4 hr and 10 min)
b. Make a method displayTime which should print the time.
c. Make a method DisplayMinute which should display the total minutes in the
Time.**

In [3]:
class  Time:
    def __init__(self,hrs,mins):
        self.hrs=hrs
        self.mins=mins
    def addTime(t1,t2):
        t3=Time(0,0) 
        t3.hrs=t1.hrs+t2.hrs
        t3.mins=t1.mins+t2.mins        
        if t3.mins>=60:
            t3.hrs+=1
            t3.mins-=60
        return t3
    def displayTime(self):
        print("Time is %d : %d" %(self.hrs,self.mins))
    def displayMinutes(self):
        print((self.hrs*60)+self.mins,"minutes")
h1=int(input("Enter hour of time1: "))
m1=int(input("Enter min of time1: "))
h2=int(input("Enter hour of time2: "))
m2=int(input("Enter min of time2: "))
x=Time(h1,m1)
y=Time(h2,m2)
z=Time.addTime(x,y)
z.displayTime()
z.displayMinutes()

Enter hour of time1: 3
Enter min of time1: 43
Enter hour of time2: 5
Enter min of time2: 51
Time is 9 : 34
574 minutes

**2. Write a Python class to find a pair of elements (indices of the two numbers) from a
given array whose sum equals a specific target number.**

In [ ]:
def sumof2(li,t):
  for i in range(len(li)-1):
    for j in range(i+1,len(li)):
      if (li[i]+li[j])==t:
        return str(i+1)+","+str(j+1)
  return "No match"
print(sumof2([1,13,21,4],5))

1,4

**3. Write a Python class which has three methods get_String, print_String and
reverse_string. get_String accept a string from the user and print_String print the
string in upper case. reverse_string reverses each word in the input string.**

In [4]:
class Stringop:
    def get_String(self):
        s=input("Enter string: ")
        self.print_String(s)

    def print_String(self,s):
        print("The string is "+s)
        self.reverse_String(s)

    def reverse_String(self,s):
        print("The reverse is "+s[::-1])
g=Stringop()
g.get_String()

Enter string: Hello World
The string is Hello World
The reverse is dlroW olleH

**4. Given a random sequence of numbers, write two functions. One should sort the given
sequence and second function should implement binary search.**

In [9]:
def binary_search(l,h,a,k):
    while l<=h:
        m=(l+h)//2
        if k>a[m]:
            l=m+1
            binary_search(l,h,a,k)
        elif k<a[m]:
            h=m-1
            binary_search(l,h,a,k)
        else:
            return m
    return -1
a=list(map(int,input("Enter the list of numbers\n").split()))
a.sort()
print("The sorted array is ")
print(a)
n=int(input("Enter the number to search: "))
b=binary_search(0,len(a)-1,a,n)
if b!=-1:
    print("It is at "+str(b))
else:
    print("It is not found")

Enter the list of numbers
10 2 3 55 6
The sorted array is
[2, 3, 6, 10, 55]
Enter the number to search: 4
It is not found

**5. Write a Python program to replace the last element in a list with another list**

In [ ]:
def lis(l1,l2):
  l1=l1[:-1]
  l1=l1+l2
  print("Modified List:",l1)
  return
lis([1, 3, 5, 7, 9, 10], [2, 4, 6, 8])

Modified List: [1, 3, 5, 7, 9, 2, 4, 6, 8]

**6. Write a Python program to insert a given string at the beginning of all items in a list.**

In [ ]:
def str_append(li,s):
  li=[s+str(i) for i in li]
  return li 
print(str_append([1,2,3,4],"emp"))

['emp1', 'emp2', 'emp3', 'emp4']

**7. Write a Python program to find the list in a list of lists whose sum of elements is the
highest.**

In [ ]:
def max_sum(li):
  k=[0]
  for i in li:
    if sum(k)<sum(i):
      k=i
  return k
print(max_sum([[1,2,3], [4,5,6], [10,11,12], [7,8,9]]))

[10, 11, 12]

**8. Write a Python program to check if all dictionaries in a list are empty or not.**

In [ ]:
def dict_full(a):
  for i in a:
    if len(i)!=0:
      return False
  return True
print(dict_full([{},{},{}]))
print(dict_full([{1,2},{},{}]))

True
False

**9.Write a Python program to get the depth of a dictionary.**

In [13]:
def dict_depth(dic,k=0): 
      
    if not isinstance(dic,dict) or not dic: 
        return k
    return max(dict_depth(dic[key],k+1)for key in dic)                                
mydict={1:{'a':{'d':2}}} 
print(dict_depth(mydict))

3

**10. Write a Python program to access dictionary keyâ€™s element by index.**

In [15]:
d={'Physics':90,'Maths':100,'Chemistry':96,'Biology':90}
n=int(input("Enter index: "))
l=list(d.keys())
if n>=0 and n<len(d):
    for i in range(len(l)):
        if i==n:
            print(l[i])
else:
    print("Invalid index")

Enter index: 3
Biology

**11. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).**

In [ ]:
def dict_sq(n):
  sq={}
  for i in range(1,n+1):
    sq[i]=i*i
  return sq
print(dict_sq(7))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

**12. Write a Python program to concatenate following dictionaries to create a new one.**

In [17]:
dict = {}
n = int(input())
for i in range(n):
    s = input().split()
    tempdict = {}
    for x in s:
        l = x.split(":")
        tempdict[l[0]] = l[1]
    dict[i] = tempdict
dict1 = dict[0]
for i in range(1, n):
    d = dict[i]
    for x, y in d.items():
        dict1[x] = y
print(dict1)

2
1:10
2:10
{'1': '10', '2': '10'}

**13. Write a Python script to merge two Python dictionaries.**

In [18]:
d1={'karthi1':20,'karthi':30}
d2={'karthi3':40,'karthi33':10}
d1.update(d2)
print(d1)

{'karthi1': 20, 'karthi': 30, 'karthi3': 40, 'karthi33': 10}

**14. Write a Python program to combine two dictionary adding values for common keys.**

In [25]:
d1 = d2={} 
s = input().split()
tempdict = {}
for x in s:
    l = x.split(":")
    tempdict[l[0]] = l[1]
d1 = tempdict
s = input().split()
tempdict = {}
for x in s:
    l = x.split(":")
    tempdict[l[0]] = l[1]
d2 = tempdict
dict = d1
for x in d2:
    if x in d1:
        dict[x] = dict[x] + d2[x]
        continue
    dict[x] = d2[x]
print(dict)

a:100 b:200 c:300
a:300 b:200 d:400
{'a': '100300', 'b': '200200', 'c': '300', 'd': '400'}

**15. Write a Python program to create and display all combinations of letters, selecting
each letter from a different key in a dictionary.**

**16. Write a Python program to combine values in python list of dictionaries**

In [31]:
inp = input()
inp = inp[1:-1]
inp = inp.split("},{")
l = []
for x in inp:
    #d = dict(y.split(':') for y in x.split(','))
    l.append(d)
n = len(l)
dict = {}
for i in range(n - 1):
    dict1 = l[i]
    if dict1["item"] in dict:
        continue
    else:
        dict[dict1["item"]] = int(dict1["amount"])
        for j in range(i + 1, n):
            dict2 = l[j]
            if dict1["item"] == dict2["item"]:
                dict[dict1["item"]] += int(dict2["amount"])
print(dict)

[{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
{'item1': 1150, 'item2': 300}

**17. Write a Python program to print a dictionary in table format.**

In [33]:
"""inp = input()
inp=inp[1:-1]
dic = dict(x.split(':') for x in inp.split(','))
l = []
l.append([])
for x in dic:
    l[0].append(x)
    dic[x] = list(dic[x][1:-1].split())
    n = len(dic[x])
for i in range(n):
    l.append([])
for x in dic:
    for i in range(n):
        l[i+1].append(dic[x][i])
for i in l:
    print(i)"""

"inp = input()\ninp=inp[1:-1]\ndic = dict(x.split(':') for x in inp.split(','))\nl = []\nl.append([])\nfor x in dic:\n    l[0].append(x)\n    dic[x] = list(dic[x][1:-1].split())\n    n = len(dic[x])\nfor i in range(n):\n    l.append([])\nfor x in dic:\n    for i in range(n):\n        l[i+1].append(dic[x][i])\nfor i in l:\n    print(i)"

**18.Write a Python program to replace last value of tuples in a list.**

In [38]:
inp = input()
inp = inp[2:-2]
lt = inp.split('),(')
n = len(lt)
newlt = []
for x in lt:
    x = list(map(int, x.split(',')))
    x[-1] = 100
    x = tuple(x)
    newlt.append(x)
print(newlt)

 [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
 [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**19.Write a Python program to remove an empty tuple(s) from a list of tuples.**

In [ ]:
def tup(lis):
  c=0
  for i in range(len(lis)):
    if len(lis[i])==0:
      lis[0],lis[i]=lis[i],lis[0]
      c=c+1
  return lis[c:]
tup( [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')])

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

**20.Write a Python program to sort a tuple by its float element**

In [ ]:
def tupsort(lis):
  for j in range(len(lis)):
    for i in range(1,len(lis)):
      if (lis[i][1]>lis[i-1][1]):
        lis[i],lis[i-1]=lis[i-1],lis[i]
  return lis
tupsort( [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')])

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]